  @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
  body {
      font-family: 'Architects Daughter', cursive;
      font-size: 40px;
  }
  
  table {
      width: 400px;
      height: 600px;
      text-align: center;
      margin: 0 auto;
      border-spacing: 5px 7px;
  }
  
  td {
      border: 4px outset black;
  }
  
  #output {
      padding: 20px;
      border-radius: 5px;
      background-color: #808D96;
  }
  
  .button {
      padding: 20px;
      border-radius: 5px;
      cursor: pointer;
  }
  
  .number {
      background: #DAFFD0;
      background: -webkit-linear-gradient(top left, #DAFFD0, #154667);
  }
  
  .action {
      background: #7E5F71
  }